In [1]:
import warnings 

import pandas as pd

from schema import sblar_schema

# Let's Get Some Data

This data is manually created. I've created an excel file called `example_sblar.xlsx` that has a sheet called valid and one called invalid. Not every edge case is captured. This is for demonstration purposes only

In [2]:
valid_sblar_df = pd.read_excel("example_sblar.xlsx", engine="openpyxl", sheet_name="valid", dtype=str, na_filter=False)
valid_sblar_df

,uid,app_date,app_method,ct_credit_product,ct_credit_product_ff
0,10BX939C5543TQA1144M1A,20241001,1,1,
1,10BX939C5543TQA1144M2B,20241002,2,2,
2,10BX939C5543TQA1144M3C,20241003,3,3,
3,10BX939C5543TQA1144M4D,20241004,4,4,
4,10BX939C5543TQA1144M5E,20241005,1,5,
5,10BX939C5543TQA1144M6F,20241006,1,6,
6,10BX939C5543TQA1144M7G,20241007,1,7,
7,10BX939C5543TQA1144M8H,20241008,2,8,
8,10BX939C5543TQA1144M9I,20241009,3,977,This needs to be filled in because we selected...
9,10BX939C5543TQA1144M10,20241010,4,988,

In [3]:
invalid_sblar_df = pd.read_excel("example_sblar.xlsx", engine="openpyxl", sheet_name="invalid", dtype=str, na_filter=False)
invalid_sblar_df

,uid,app_date,app_method,ct_credit_product,ct_credit_product_ff
0,10BX939C5543TQA1144M1A,20241001,1,1,
1,10BX939C5543TQA1144M1A,20241002,2,2,
2,10BX939C5543TQA1144M3C,20241003,3,3,
3,10BX939C5543TQA1144M4D,20241004,5,4,I LOVE THIS FIG!!!!!!!!!!
4,10BX939C5543TQA1144M5E,20241005,1,5,
5,10BX939C5543TQA1144M6F,20241006,1,6,
6,10BX939C5543TQA1144M7G,20241007,1,7,
7,10BX939C5543TQA1144M8H,20241433,2,8,
8,10BX939C5543TQA1144M9I,2021010,3,977,
9,10BX939C5543TQA1144M10ABCDEFGHIJKLHMDKDKDKDKDKDKD,8675309A,4,988,

# Time for Validation

Here we validate the valid and invalid dataframes using Pandera directly.

In [4]:
sblar_schema.validate(valid_sblar_df)

,uid,app_date,app_method,ct_credit_product,ct_credit_product_ff
0,10BX939C5543TQA1144M1A,20241001,1,1,
1,10BX939C5543TQA1144M2B,20241002,2,2,
2,10BX939C5543TQA1144M3C,20241003,3,3,
3,10BX939C5543TQA1144M4D,20241004,4,4,
4,10BX939C5543TQA1144M5E,20241005,1,5,
5,10BX939C5543TQA1144M6F,20241006,1,6,
6,10BX939C5543TQA1144M7G,20241007,1,7,
7,10BX939C5543TQA1144M8H,20241008,2,8,
8,10BX939C5543TQA1144M9I,20241009,3,977,This needs to be filled in because we selected...
9,10BX939C5543TQA1144M10,20241010,4,988,

In [5]:
sblar_schema.validate(invalid_sblar_df)

/opt/conda/lib/python3.10/site-packages/pandera/backends/pandas/base.py:113: UserWarning: <Schema Column(name=uid, type=DataType(str))> failed element-wise validator 0:
<Check str_length: str_length(21, 45)>
failure cases:
   index                                       failure_case
0      9  10BX939C5543TQA1144M10ABCDEFGHIJKLHMDKDKDKDKDKDKD
  warnings.warn(error_msg, UserWarning)
/opt/conda/lib/python3.10/site-packages/pandera/backends/pandas/base.py:113: UserWarning: <Schema Column(name=uid, type=DataType(str))> failed series or dataframe validator 1:
<Check <lambda>>
  warnings.warn(error_msg, UserWarning)
/opt/conda/lib/python3.10/site-packages/pandera/backends/pandas/base.py:113: UserWarning: <Schema Column(name=app_date, type=DataType(str))> failed element-wise validator 0:
<Check app_date_valid_yyyymmdd>
failure cases:
   index failure_case
0      7     20241433
1      8      2021010
2      9     8675309A
  warnings.warn(error_msg, UserWarning)
/opt/conda/lib/python3.10/site-packages/pandera/backends/pandas/base.py:113: UserWarning: <Schema Column(name=app_method, type=DataType(int64))> failed element-wise validator 0:
<Check isin: isin([1, 2, 3, 4])>
failure cases:
   index  failure_case
0      3             5
  warnings.warn(error_msg, UserWarning)
/opt/conda/lib/python3.10/site-packages/pandera/backends/pandas/base.py:113: UserWarning: <Schema Column(name=ct_credit_product_ff, type=DataType(str))> failed series or dataframe validator 1:
<Check ct_credit_product_ff_blank_validity>
  warnings.warn(error_msg, UserWarning)

,uid,app_date,app_method,ct_credit_product,ct_credit_product_ff
0,10BX939C5543TQA1144M1A,20241001,1,1,
1,10BX939C5543TQA1144M1A,20241002,2,2,
2,10BX939C5543TQA1144M3C,20241003,3,3,
3,10BX939C5543TQA1144M4D,20241004,5,4,I LOVE THIS FIG!!!!!!!!!!
4,10BX939C5543TQA1144M5E,20241005,1,5,
5,10BX939C5543TQA1144M6F,20241006,1,6,
6,10BX939C5543TQA1144M7G,20241007,1,7,
7,10BX939C5543TQA1144M8H,20241433,2,8,
8,10BX939C5543TQA1144M9I,2021010,3,977,
9,10BX939C5543TQA1144M10ABCDEFGHIJKLHMDKDKDKDKDKDKD,8675309A,4,988,

### Capture the Validation Warnings

Run the following block as a debug cell in VS Code and you can explore the variables `validation_warnings` and corresponding `sblar_schema` fields.

In [7]:
with warnings.catch_warnings(record=True) as validation_warnings:
    sblar_schema.validate(invalid_sblar_df)
    print("Run me in debug mode. Downward arrow near run -> Debug Cell")

Run me in debug mode. Downward arrow near run -> Debug Cell